HELP.md
.gradle
notes.common.pubtator3.reference.swagger.client.build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/notes.common.pubtator3.reference.swagger.client.build/
!**/src/test/**/notes.common.pubtator3.reference.swagger.client.build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.notes.common.pubtator3.reference.swagger.client.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/data/voice-notes-db.mv.db
/data/voice-notes-db.trace.db
